/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

:root {
    --cl-white: white;
    --bg-jumbo: #3161e0;
    --cl-darker: #23272a;
    --cl-lightblue: #8ea1e1;
    --bgc-section: #f6f6f6;
}

h1 {
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 30px;
}

h3 {
    font-weight: 600;
    font-size: 2rem;
}

p {
    font-size: 1.4rem;
    line-height: 2.3rem;
}

img {
    display: block;
}

ul {
    list-style: none;
}

button:hover {
    cursor: pointer;
}

.wave {
    width: 100%;
    height: 150px;
    background-color: var(--bgc-section);
    mask-image: url(../img/wave.svg);
}

.mirror{
    transform: scaleX(1);
    rotate: 180deg;
}

/* debug */
.debug * {
    border: 1px dashed black;
}



/* utilities */

.container {
    width: 70%;
    margin: 0 auto;
}

.small_container {
    width: 45%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify {
    justify-content: center;
}

.bgc_gray {
    background-color: var(--bgc-section);
}

.bgc-white {
    background-color: var(--cl-white);
}

.bgc-darker {
    background-color: var(--cl-darker);
}

.bgc-lightblue {
    background-color: var(--cl-lightblue);
}

.small-button {
    padding: 0.6rem;
    border-radius: 50px;
    border-style: none;
}

.big-button {
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
    border-radius: 50px;
    border-style: none;
}

.button-txt-w {
    color: var(--cl-white);
}

/* header */

header {
    height: 84px;
    background-color: var(--bg-jumbo);
}

.menu {
    justify-content: space-between;
    align-items: center;
    height: 100%;

    ul {
        gap: 45px;
    }

    li a {
        color: var(--cl-white);
        text-decoration: none;
    }

    li a:hover {
        text-decoration: underline;
    }

}


/* main */

/* jumbotron */
.jumbotron {
    height: 620px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 120px;
}

.jumbo_content {
    h1 {
        color: var(--cl-white);
        margin-bottom: 50px;
        text-align: center;
    }

    p {
        text-align: center;
        color: var(--cl-white);
        margin-bottom: 30px;
    }
}

.buttons {
    justify-content: center;
    gap: 30px;
}


/* section */
section {
    padding: 200px 0;
}

.content {
    justify-content: space-between;
    align-items: flex-start;
}

.content_img {
    width: 70%;
    justify-content: flex-end;
}

.content_text {
    width: 30%;
    margin-top: 30px;

    h2,
    p {
        color: var(--cl-darker);
    }
}


/* technology section */
.tech-align {
    text-align: center;

    h2,
    p {
        color: var(--cl-darker);
    }
}

.tech_img {
    width: 100%;
}

.tech_fancy {
    padding: 50px 0;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;

    h3 {
        color: var(--cl-darker);
    }
}


/* footer */
footer {
    height: 660px;
    background-color: var(--cl-darker);
    align-items: center;
}

.about {
    justify-content: space-between;
}

.language {
    h3 {
        color: var(--cl-lightblue);
    }
}

.language_selection {
    align-items: center;
    color: var(--cl-white);
    margin: 30px 0;

    img {
        width: 35px;
        margin-right: 10px;
    }

    span {
        margin-left: 10px;
        font-weight: 800;
    }
}

.arrow-down {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.socials {
    color: var(--cl-white);
    font-size: 1.5rem;
    gap: 30px;
}

.about_side {
    width: 820px;
}

.about_column {
    width: 25%;

    li {
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: var(--cl-white);
        font-weight: 300;
    }

    a:hover {
        text-decoration: underline;
    }
}

.about_title {
    color: var(--cl-lightblue);
    font-weight: 800;
}

.register {
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid var(--cl-lightblue);
}